.healthcheck-success.hide-opacity{
    opacity: 0;
}

.healthcheck-danger {
	color: #FFF;
    background-color: #d9534f;
    transition: background 1.5s linear;
}

.healthcheck-success {
	color: #FFF;
    background-color: #5cb85c;
    transition: background 1.5s linear;
}


