<!DOCTYPE html>
<html lang="en" ng-app="healthCheckApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WISE Backend Health Check</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/health-check.css" rel="stylesheet">
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/healthcheck.js"></script>


<h3 style="padding-left: 20px;">WISE V2 Backend Health Check</h3>


<div class="container-fluid" ng-controller="healthCheckController as healthCheck">
    <div class="jumbotron">
        <h3>Shared</h3>
        <p>
            <span ng-repeat="app in healthCheck.backendApps.shared">
              <a href="http://xmwise.320.io:28778" ng-class="{'btn btn-default': true, 'healthcheck-success': app.isFinished && app.isAlive, 'healthcheck-danger': app.isFinished && !(app.isAlive) }" role="button">{{app.name}}</a>
            </span>
        </p>
    </div>

    <div class="jumbotron">
        <h3>Viabaron</h3>
        <p>
            <span ng-repeat="app in healthCheck.backendApps.viabaron">
              <a href="http://xmwise.320.io:28778" ng-class="{'btn btn-default': true, 'healthcheck-success': app.isFinished && app.isAlive, 'healthcheck-danger': app.isFinished && !(app.isAlive) }" role="button">{{app.name}}</a>
            </span>
        </p>
    </div>

    <div class="jumbotron">
        <h3>Turnbull</h3>
        <p>
            <span ng-repeat="app in healthCheck.backendApps.turnbull">
              <a href="http://xmwise.320.io:28778" ng-class="{'btn btn-default': true, 'healthcheck-success': app.isFinished && app.isAlive, 'healthcheck-danger': app.isFinished && !(app.isAlive) }" role="button">{{app.name}}</a>
            </span>
        </p>
    </div>
</div>
</body>
</html>